In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [4]:
##Load data set
## Objective : Detect th salary
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
## drop columns rownumber, cusrtomerid, surname bcoz we don't need them to predict salary
data=data.drop(['RowNumber','CustomerId','Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
## convert Gender column to 0,1 using label encode
label_encoder_gender= LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
## convert \geography column to digits using onehot encoder
from sklearn.preprocessing import OneHotEncoder
onehot_encode_geo=OneHotEncoder()
geo_encoder=onehot_encode_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [8]:
## print the new columns of geography that got created after one hot encoding
onehot_encode_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(), columns=onehot_encode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
##Combine one hot encoded columns with the original data
data=pd.concat([data.drop('Geography',axis=1), geo_encoded_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [11]:
##save the encoders in individual pickle files to use later
with open('salary_label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('salary_onehot_encode_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encode_geo, file)

In [12]:
##Divide the dataset into dependent and independent feature
X= data.drop('EstimatedSalary', axis=1)
Y=data['EstimatedSalary']

In [13]:
##Split the data into training and testing sets
X_test,X_train,Y_test,Y_train=train_test_split(X,Y, test_size=0.2, random_state=42)

##scale the features
scale=StandardScaler()
X_train=scale.fit_transform(X_train)
X_test=scale.fit_transform(X_test)

In [14]:
##save the scale into a pickle file
with open('salary_scale.pkl', 'wb') as file:
    pickle.dump(scale, file)

#### ANN REGRESSION PROBLEM STATEMENT

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From g:\AIWorkspace\Ann_TensorKensar\ann_tensor\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [17]:
##no of elements
X_train.shape[1]

12

In [19]:
## Build ANN model with hidden layer using Dense
## (X_train.shape[1],) means Single dimention with 12 inputs
model=Sequential([
    Dense(64, activation='relu',input_shape=(X_train.shape[1],)), ## HL1 which connects to input layer
    Dense(32, activation='relu'),##HL2 it doesn't require input as it's squential it'll take from previous layer
    Dense(1) ##output layer ## if no 2nd param mentioned means it takes linear regression function by defau;t
]
)
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
##Now to train a model we need to create logs ans setup as tensor dashboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
 ## Earlystopping is required to break the loop when loss valus not decreasing for 5 epochs at least
log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
##set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=20, restore_best_weights=True)

In [23]:
## Train the model
history=model.fit(
    X_train,Y_train,
    validation_data=(X_test,Y_test), 
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From g:\AIWorkspace\Ann_TensorKensar\ann_tensor\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From g:\AIWorkspace\Ann_TensorKensar\ann_tensor\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

63/63 [==============================] - 3s 17ms/step - loss: 98723.1016 - mae: 98723.1016 - val_loss: 100423.8594 - val_mae: 100423.8594
Epoch 2/100
63/63 [==============================] - 1s 10ms/step - loss: 98708.4062 - mae: 98708.4062 - val_loss: 100397.6719 - val_mae: 100397.6719
Epoch 3/100
63/63 [==============================] - 1s 10ms/step - loss: 98662.8516 - mae: 98662.8516 - val_loss: 100327.0938 - val_mae: 100327.0938
Epoch 4/100
63/63 [==============================] - 1s 9ms/step - loss: 98559.7188 - mae: 98559.7188 - val_loss: 100184.9922 - val_mae: 100184.9922
Epoch 5/100
63/63 [==============================] - 1s 9ms/step - loss: 98371.7812 - mae: 98371.7812 - val_loss: 99944.1172 - val_mae: 99944.1172
Epoch 6/100
63/63 [==============================] - 1s 8ms/step - loss: 98072.6953 - mae: 98072.6953 - val_loss: 99581.3984 - val_mae: 99581.3984
Epoch 7/100
63/63 [==============================] - 1s 10ms/step - loss: 97642.7344 - mae: 97642.7344 - val_loss: 99077.9062 - val_mae: 99077.9062
Epoch 8/100
63/63 [==============================] - 1s 12ms/step - loss: 97063.0781 - mae: 97063.0781 - val_loss: 98414.1094 - val_mae: 98414.1094
Epoch 9/100
63/63 [==============================] - 1s 12ms/step - loss: 96313.6094 - mae: 96313.6094 - val_loss: 97572.4219 - val_mae: 97572.4219
Epoch 10/100
63/63 [==============================] - 1s 10ms/step - loss: 95379.0625 - mae: 95379.0625 - val_loss: 96552.0547 - val_mae: 96552.0547
Epoch 11/100
63/63 [==============================] - 1s 9ms/step - loss: 94269.3750 - mae: 94269.3750 - val_loss: 95337.0625 - val_mae: 95337.0625
Epoch 12/100
63/63 [==============================] - 1s 11ms/step - loss: 92960.8828 - mae: 92960.8828 - val_loss: 93942.5234 - val_mae: 93942.5234
Epoch 13/100
63/63 [==============================] - 1s 11ms/step - loss: 91459.5781 - mae: 91459.5781 - val_loss: 92365.5078 - val_mae: 92365.5078
Epoch 14/100
63/63 [==============================] - 1s 11ms/step - loss: 89793.3438 - mae: 89793.3438 - val_loss: 90611.2266 - val_mae: 90611.2266
Epoch 15/100
63/63 [==============================] - 1s 10ms/step - loss: 87965.2656 - mae: 87965.2656 - val_loss: 88704.0938 - val_mae: 88704.0938
Epoch 16/100
63/63 [==============================] - 1s 10ms/step - loss: 86003.5078 - mae: 86003.5078 - val_loss: 86655.5938 - val_mae: 86655.5938
Epoch 17/100
63/63 [==============================] - 1s 8ms/step - loss: 83903.8594 - mae: 83903.8594 - val_loss: 84479.9453 - val_mae: 84479.9453
Epoch 18/100
63/63 [==============================] - 1s 8ms/step - loss: 81699.3203 - mae: 81699.3203 - val_loss: 82162.6016 - val_mae: 82162.6016
Epoch 19/100
63/63 [==============================] - 1s 9ms/step - loss: 79401.0938 - mae: 79401.0938 - val_loss: 79817.8594 - val_mae: 79817.8594
Epoch 20/100
63/63 [==============================] - 1s 9ms/step - loss: 77098.6641 - mae: 77098.6641 - val_loss: 77432.5312 - val_mae: 77432.5312
Epoch 21/100
63/63 [==============================] - 1s 12ms/step - loss: 74794.7266 - mae: 74794.7266 - val_loss: 75070.2812 - val_mae: 75070.2812
Epoch 22/100
63/63 [==============================] - 1s 10ms/step - loss: 72509.8203 - mae: 72509.8203 - val_loss: 72703.0078 - val_mae: 72703.0078
Epoch 23/100
63/63 [==============================] - 1s 9ms/step - loss: 70208.6562 - mae: 70208.6562 - val_loss: 70384.3047 - val_mae: 70384.3047
Epoch 24/100
63/63 [==============================] - 1s 9ms/step - loss: 67965.3047 - mae: 67965.3047 - val_loss: 68058.1562 - val_mae: 68058.1562
Epoch 25/100
63/63 [==============================] - 1s 10ms/step - loss: 65812.4766 - mae: 65812.4766 - val_loss: 65917.9453 - val_mae: 65917.9453
Epoch 26/100
63/63 [==============================] - 1s 12ms/step - loss: 63834.0508 - mae: 63834.0508 - val_loss: 63900.3906 - val_mae: 63900.3906
Epoch 27/100
63/63 [==============================] - 1s 10ms/step - loss: 61909.3555 - mae: 61909.3555 - val_loss: 62012.0000 - val_mae: 62012.0000
Epoch 28/100
63/63 [==============================] - 1s 10ms/step - loss: 60107.6055 - mae: 60107.6055 - val_loss: 60243.3477 - val_mae: 60243.3477
Epoch 29/100
63/63 [==============================] - 1s 9ms/step - loss: 58454.7305 - mae: 58454.7305 - val_loss: 58684.9844 - val_mae: 58684.9844
Epoch 30/100
63/63 [==============================] - 1s 11ms/step - loss: 57013.5312 - mae: 57013.5312 - val_loss: 57267.7656 - val_mae: 57267.7656
Epoch 31/100
63/63 [==============================] - 1s 9ms/step - loss: 55733.4648 - mae: 55733.4648 - val_loss: 56053.0430 - val_mae: 56053.0430
Epoch 32/100
63/63 [==============================] - 1s 9ms/step - loss: 54625.4258 - mae: 54625.4258 - val_loss: 55034.3633 - val_mae: 55034.3633
Epoch 33/100
63/63 [==============================] - 1s 9ms/step - loss: 53692.5391 - mae: 53692.5391 - val_loss: 54096.6719 - val_mae: 54096.6719
Epoch 34/100
63/63 [==============================] - 1s 9ms/step - loss: 52925.5391 - mae: 52925.5391 - val_loss: 53397.7031 - val_mae: 53397.7031
Epoch 35/100
63/63 [==============================] - 1s 8ms/step - loss: 52303.7852 - mae: 52303.7852 - val_loss: 52815.1250 - val_mae: 52815.1250
Epoch 36/100
63/63 [==============================] - 1s 8ms/step - loss: 51800.2227 - mae: 51800.2227 - val_loss: 52353.2578 - val_mae: 52353.2578
Epoch 37/100
63/63 [==============================] - 1s 8ms/step - loss: 51417.7383 - mae: 51417.7383 - val_loss: 51960.5781 - val_mae: 51960.5781
Epoch 38/100
63/63 [==============================] - 1s 9ms/step - loss: 51088.3438 - mae: 51088.3438 - val_loss: 51675.8359 - val_mae: 51675.8359
Epoch 39/100
63/63 [==============================] - 1s 10ms/step - loss: 50837.7773 - mae: 50837.7773 - val_loss: 51438.8867 - val_mae: 51438.8867
Epoch 40/100
63/63 [==============================] - 1s 8ms/step - loss: 50631.9453 - mae: 50631.9453 - val_loss: 51230.7227 - val_mae: 51230.7227
Epoch 41/100
63/63 [==============================] - 1s 9ms/step - loss: 50448.4141 - mae: 50448.4141 - val_loss: 51080.9766 - val_mae: 51080.9766
Epoch 42/100
63/63 [==============================] - 1s 8ms/step - loss: 50302.0000 - mae: 50302.0000 - val_loss: 50961.7188 - val_mae: 50961.7188
Epoch 43/100
63/63 [==============================] - 1s 9ms/step - loss: 50195.8164 - mae: 50195.8164 - val_loss: 50875.7656 - val_mae: 50875.7656
Epoch 44/100
63/63 [==============================] - 1s 9ms/step - loss: 50097.3281 - mae: 50097.3281 - val_loss: 50809.3281 - val_mae: 50809.3281
Epoch 45/100
63/63 [==============================] - 1s 8ms/step - loss: 50025.2930 - mae: 50025.2930 - val_loss: 50751.6133 - val_mae: 50751.6133
Epoch 46/100
63/63 [==============================] - 1s 10ms/step - loss: 49961.4961 - mae: 49961.4961 - val_loss: 50713.5625 - val_mae: 50713.5625
Epoch 47/100
63/63 [==============================] - 1s 9ms/step - loss: 49904.1719 - mae: 49904.1719 - val_loss: 50679.7812 - val_mae: 50679.7812
Epoch 48/100
63/63 [==============================] - 1s 9ms/step - loss: 49853.8164 - mae: 49853.8164 - val_loss: 50652.5664 - val_mae: 50652.5664
Epoch 49/100
63/63 [==============================] - 1s 10ms/step - loss: 49818.1484 - mae: 49818.1484 - val_loss: 50634.1602 - val_mae: 50634.1602
Epoch 50/100
63/63 [==============================] - 1s 9ms/step - loss: 49782.9297 - mae: 49782.9297 - val_loss: 50623.0273 - val_mae: 50623.0273
Epoch 51/100
63/63 [==============================] - 1s 8ms/step - loss: 49752.3477 - mae: 49752.3477 - val_loss: 50611.0078 - val_mae: 50611.0078
Epoch 52/100
63/63 [==============================] - 1s 9ms/step - loss: 49724.2461 - mae: 49724.2461 - val_loss: 50605.5078 - val_mae: 50605.5078
Epoch 53/100
63/63 [==============================] - 1s 11ms/step - loss: 49700.7734 - mae: 49700.7734 - val_loss: 50596.8398 - val_mae: 50596.8398
Epoch 54/100
63/63 [==============================] - 1s 10ms/step - loss: 49676.6406 - mae: 49676.6406 - val_loss: 50591.1289 - val_mae: 50591.1289
Epoch 55/100
63/63 [==============================] - 1s 9ms/step - loss: 49653.9844 - mae: 49653.9844 - val_loss: 50592.1719 - val_mae: 50592.1719
Epoch 56/100
63/63 [==============================] - 1s 8ms/step - loss: 49633.0039 - mae: 49633.0039 - val_loss: 50592.0430 - val_mae: 50592.0430
Epoch 57/100
63/63 [==============================] - 1s 9ms/step - loss: 49610.7188 - mae: 49610.7188 - val_loss: 50588.5469 - val_mae: 50588.5469
Epoch 58/100
63/63 [==============================] - 1s 9ms/step - loss: 49589.4453 - mae: 49589.4453 - val_loss: 50591.3555 - val_mae: 50591.3555
Epoch 59/100
63/63 [==============================] - 1s 8ms/step - loss: 49566.6445 - mae: 49566.6445 - val_loss: 50584.7539 - val_mae: 50584.7539
Epoch 60/100
63/63 [==============================] - 1s 8ms/step - loss: 49549.9023 - mae: 49549.9023 - val_loss: 50586.0430 - val_mae: 50586.0430
Epoch 61/100
63/63 [==============================] - 1s 8ms/step - loss: 49524.6250 - mae: 49524.6250 - val_loss: 50581.0312 - val_mae: 50581.0312
Epoch 62/100
63/63 [==============================] - 1s 9ms/step - loss: 49507.7695 - mae: 49507.7695 - val_loss: 50580.7539 - val_mae: 50580.7539
Epoch 63/100
63/63 [==============================] - 1s 9ms/step - loss: 49488.6797 - mae: 49488.6797 - val_loss: 50583.1016 - val_mae: 50583.1016
Epoch 64/100
63/63 [==============================] - 1s 8ms/step - loss: 49469.0117 - mae: 49469.0117 - val_loss: 50582.0664 - val_mae: 50582.0664
Epoch 65/100
63/63 [==============================] - 1s 8ms/step - loss: 49453.3672 - mae: 49453.3672 - val_loss: 50582.7383 - val_mae: 50582.7383
Epoch 66/100
63/63 [==============================] - 1s 8ms/step - loss: 49436.3164 - mae: 49436.3164 - val_loss: 50582.6328 - val_mae: 50582.6328
Epoch 67/100
63/63 [==============================] - 1s 10ms/step - loss: 49424.0195 - mae: 49424.0195 - val_loss: 50591.7734 - val_mae: 50591.7734
Epoch 68/100
63/63 [==============================] - 1s 9ms/step - loss: 49403.5078 - mae: 49403.5078 - val_loss: 50590.4766 - val_mae: 50590.4766
Epoch 69/100
63/63 [==============================] - 1s 9ms/step - loss: 49391.5156 - mae: 49391.5156 - val_loss: 50593.6094 - val_mae: 50593.6094
Epoch 70/100
63/63 [==============================] - 1s 12ms/step - loss: 49372.5586 - mae: 49372.5586 - val_loss: 50590.8945 - val_mae: 50590.8945
Epoch 71/100
63/63 [==============================] - 1s 9ms/step - loss: 49359.1250 - mae: 49359.1250 - val_loss: 50590.7109 - val_mae: 50590.7109
Epoch 72/100
63/63 [==============================] - 1s 9ms/step - loss: 49347.9336 - mae: 49347.9336 - val_loss: 50585.2812 - val_mae: 50585.2812
Epoch 73/100
63/63 [==============================] - 1s 9ms/step - loss: 49334.9297 - mae: 49334.9297 - val_loss: 50584.6836 - val_mae: 50584.6836
Epoch 74/100
63/63 [==============================] - 1s 8ms/step - loss: 49320.2812 - mae: 49320.2812 - val_loss: 50592.7578 - val_mae: 50592.7578
Epoch 75/100
63/63 [==============================] - 1s 8ms/step - loss: 49313.3711 - mae: 49313.3711 - val_loss: 50594.9961 - val_mae: 50594.9961
Epoch 76/100
63/63 [==============================] - 1s 9ms/step - loss: 49294.8711 - mae: 49294.8711 - val_loss: 50589.2773 - val_mae: 50589.2773
Epoch 77/100
63/63 [==============================] - 1s 10ms/step - loss: 49278.7422 - mae: 49278.7422 - val_loss: 50590.7695 - val_mae: 50590.7695
Epoch 78/100
63/63 [==============================] - 1s 9ms/step - loss: 49275.0273 - mae: 49275.0273 - val_loss: 50593.6250 - val_mae: 50593.6250
Epoch 79/100
63/63 [==============================] - 1s 8ms/step - loss: 49257.3359 - mae: 49257.3359 - val_loss: 50590.0977 - val_mae: 50590.0977
Epoch 80/100
63/63 [==============================] - 1s 8ms/step - loss: 49245.2422 - mae: 49245.2422 - val_loss: 50589.8945 - val_mae: 50589.8945
Epoch 81/100
63/63 [==============================] - 1s 9ms/step - loss: 49234.0430 - mae: 49234.0430 - val_loss: 50595.2773 - val_mae: 50595.2773
Epoch 82/100
63/63 [==============================] - 1s 10ms/step - loss: 49223.2773 - mae: 49223.2773 - val_loss: 50590.6719 - val_mae: 50590.6719

In [24]:
## Load Tensorboard extension session
%load_ext tensorboard

In [26]:
## load magic function tensorboard
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 8280), started 0:00:40 ago. (Use '!kill 8280' to kill it.)

In [ ]:
##Evaluate model on test data
test_loss, test_mae=model.evaluate(X_train,Y_test)
print(f'Test MAE:{test_mae}')